@charset "UTF-8";
/* line 4, ../sass/omega.messages.scss */
div.messages {
  position: relative;
}

/* line 8, ../sass/omega.messages.scss */
.close-message {
  text-shadow: none;
  position: absolute;
  right: .4em;
  top: -.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
/* line 16, ../sass/omega.messages.scss */
.close-message:before {
  font-size: 1.4em;
  content: "×";
}
/* line 21, ../sass/omega.messages.scss */
.close-message:hover, .close-message:focus, .close-message:active {
  color: #000;
}
