/* line 3, ../sass/omega.admin.scss */
.form-item.form-item-omega-conditional-comments-html-options,
.form-item.form-item-omega-viewport-widget-minimal,
.omega-settings-container {
  border: 1px solid #cccccc;
  margin-left: 18px;
  margin-bottom: 12px;
  padding: 9px 18px;
  background-color: #f2f2f2;
}

/* line 11, ../sass/omega.admin.scss */
.fieldset-description {
  margin-bottom: 15px;
}

/* line 15, ../sass/omega.admin.scss */
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  border: 1px solid #cccccc;
  padding: 2.5em 0 0 0;
  margin: 1em 0;
}
/* line 20, ../sass/omega.admin.scss */
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset legend {
  display: block;
}

/* line 25, ../sass/omega.admin.scss */
.omega-layout-selection-wrapper {
  margin-bottom: 20px;
  min-height: 140px;
  position: relative;
}
/* line 32, ../sass/omega.admin.scss */
.omega-layout-selection-wrapper .form-item label.option,
.omega-layout-selection-wrapper .form-item div.description {
  padding-left: 130px;
}
/* line 37, ../sass/omega.admin.scss */
.omega-layout-selection-wrapper img {
  height: 140px;
  width: 120px;
  position: absolute;
  top: 8px;
  margin-left: 1.5em;
}

/* line 46, ../sass/omega.admin.scss */
.form-item.form-item-omega-requirements {
  border: 1px solid #ed541d;
  color: #8c2e0b;
  background-color: #fef5f1;
  margin: 6px 0 16px;
  padding: 10px;
}
