/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 1, ../sass/_base.scss */
body, html {
  margin: 0;
  height: 100%;
}

@media (min-width: 700px) {
  /* line 7, ../sass/_base.scss */
  div[role="main"], header[role="banner"], footer[role="contentinfo"] {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  div[role="main"]:after, header[role="banner"]:after, footer[role="contentinfo"]:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 12, ../sass/_base.scss */
  .two-sidebars .main-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 16, ../sass/_base.scss */
  .sidebar-first .main-content, .sidebar-second .main-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 20, ../sass/_base.scss */
  .two-sidebars .main-content, .sidebar-first .main-content {
    margin-left: 25.42373%;
  }
  /* line 24, ../sass/_base.scss */
  .main-content .sidebar-first {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }

  /* line 29, ../sass/_base.scss */
  .sidebar {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 33, ../sass/_base.scss */
  .sidebar--first {
    margin-left: -76.27119%;
  }

  /* line 37, ../sass/_base.scss */
  .sidebar--second {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 1, ../sass/_offcanvas.scss */
.off-canvas--panel {
  display: none;
}

@media (min-width: 0) and (max-width: 700px) {
  /* line 6, ../sass/_offcanvas.scss */
  .off-canvas-processed {
    display: none;
  }

  /* line 10, ../sass/_offcanvas.scss */
  .off-canvas--panel {
    display: block;
    position: relative;
    z-index: 100;
    width: 260px;
    background-color: Black;
    min-height: 100%;
  }

  /* line 19, ../sass/_offcanvas.scss */
  .off-canvas--trigger {
    height: 30px;
    width: 30px;
    background-color: Black;
    display: block;
  }

  /* line 27, ../sass/_offcanvas.scss */
  .off-canvas--left .off-canvas--panel, .off-canvas--left .off-canvas--trigger {
    float: left;
  }
  /* line 31, ../sass/_offcanvas.scss */
  .off-canvas--right .off-canvas--panel, .off-canvas--right .off-canvas--trigger {
    float: right;
  }

  /* line 36, ../sass/_offcanvas.scss */
  .off-canvas--body {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
  }
  /* line 42, ../sass/_offcanvas.scss */
  .off-canvas--left .off-canvas--body {
    left: 260px;
  }
  /* line 46, ../sass/_offcanvas.scss */
  .off-canvas--right .off-canvas--body {
    right: 260px;
  }
}
