body, html {
  margin: 0;
  height: 100%;
}

@include respond-to(small) {
  div[role="main"], header[role="banner"], footer[role="contentinfo"] {
    @include container;
  }

  .main-content {
    .two-sidebars & {
      @include span-columns(6);
    }

    .sidebar-first &, .sidebar-second & {
      @include span-columns(9);
    }

    .two-sidebars &, .sidebar-first & {
      @include push(3);
    }

    .sidebar-first {
      @include omega;
    }
  }

  .sidebar {
    @include span-columns(3);
  }

  .sidebar--first {
    @include pull(9);
  }

  .sidebar--second {
    @include omega;
  }
}
