.off-canvas--panel {
  display: none;
}

@include respond-to(mobile) {
  .off-canvas-processed {
    display: none;
  }

  .off-canvas--panel {
    display: block;
    position: relative;
    z-index: 100;
    width: 260px;
    background-color: Black;
    min-height: 100%;
  }

  .off-canvas--trigger {
    height:  30px;
    width:  30px;
    background-color: Black;
    display: block;
  }

  .off-canvas--panel, .off-canvas--trigger {
    .off-canvas--left & {
      float: left;
    }

    .off-canvas--right & {
      float: right;
    }
  }

  .off-canvas--body {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;

    .off-canvas--left & {
      left: 260px;
    }

    .off-canvas--right & {
      right:  260px;;
    }
  }
}
